<div class="main-container container-fluid">
  <div class="row">
    <div class="btn-group" role="group" aria-label="Precio Accion Manual">
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        [value]="true"
        [(ngModel)]="stockValueAuto"
        [checked]="stockValueAuto"
      />
      <label class="btn btn-outline-primary" for="btnradio1">Auto</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
        [value]="false"
        [(ngModel)]="stockValueAuto"
        [checked]="!stockValueAuto"
      />
      <label class="btn btn-outline-primary" for="btnradio2">Manual</label>
    </div>

    <div class="col-9">
      <form [formGroup]="walletForm">
        <div formArrayName="wallets">
          <div
            class="card shadow border-0"
            *ngFor="let wallet of wallets.controls; let i = index"
            [formGroupName]="i"
            style="margin-bottom: 30px"
          >
            <div class="card-body">
              <div class="form-floating mb-3">
                <input
                  formControlName="name"
                  class="form-control"
                  placeholder="name@example.com"
                />

                <label for="floatingInput">Wallet</label>
              </div>

              <table formArrayName="inversiones" class="table table-striped">
                <thead>
                  <th></th>
                  <th>Fecha Compra</th>
                  <th>Simbolo</th>
                  <th>Mercado</th>
                  <th>Qty</th>
                  <th>Precio</th>
                  <th>Precio Compra</th>
                  <th>Precio Dolar Fecha</th>
                  <th>Dolares a la Fecha</th>
                  <th class="text-end">Gasto Total</th>
                  <th class="text-end">Valor Actual</th>
                  <th class="text-end">%</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let investment of getInvestments(wallet).controls;
                      let j = index
                    "
                    [formGroupName]="j"
                    draggable="true"
                    (dragstart)="onDragStart($event, i, j)"
                    (drop)="onDrop($event, i, j)"
                    (dragover)="allowDrop($event)"
                  >
                    <td class="drag">
                      <i class="fa-solid fa-bars"></i>
                    </td>

                    <td style="width: 130px">
                      <div>
                        <input
                          class="form-control form-control-sm"
                          placeholder="fecha"
                          [matDatepicker]="picker"
                          formControlName="fechaCompra"
                          (click)="picker.open()"
                        />
                        <mat-datepicker #picker></mat-datepicker>
                      </div>
                    </td>
                    <td style="width: 130px">
                      <input
                        class="form-control form-control-sm"
                        formControlName="symbol"
                      />
                    </td>
                    <td style="width: 130px">
                      <select
                        class="form-select form-select-sm"
                        formControlName="market"
                      >
                        <option value="">NASDAQ</option>
                        <option value="bcba">BCBA</option>
                      </select>
                    </td>
                    <td style="width: 130px">
                      <input
                        class="form-control form-control-sm text-end"
                        formControlName="qty"
                        type="number"
                      />
                    </td>
                    <td style="width: 130px">
                      <fieldset [disabled]="stockValueAuto">
                        <input
                          class="form-control form-control-sm text-end"
                          formControlName="stockValue"
                          type="number"
                        />
                      </fieldset>
                    </td>
                    <td style="width: 130px">
                      <input
                        class="form-control form-control-sm text-end"
                        formControlName="precioCompra"
                        type="number"
                      />
                    </td>

                    <td style="width: 130px">
                      <input
                        class="form-control form-control-sm text-end"
                        formControlName="dolarFecha"
                        type="number"
                      />
                    </td>

                    <td>
                      {{ totalDolarFecha(investment) | number : '1.2-2' }}
                    </td>

                    <td class="text-end">
                      {{ getGastoRow(investment) | number : '1.2-2' }}
                    </td>

                    <td class="text-end">
                      {{ getTotalRow(investment) | number : '1.2-2' }}
                    </td>

                    <td class="text-end">
                      <span
                        [ngClass]="{
                          'text-success': calcDifference(investment) > 0,
                          'text-danger': calcDifference(investment) < 0
                        }"
                      >
                        {{ calcDifference(investment) }}
                      </span>
                    </td>

                    <td>
                      {{
                        perdidaGananciaEnDinero(investment) | number : '1.2-2'
                      }}
                    </td>

                    <td>
                      <div>
                        <button
                          class="btn btn-sm btn-outline-danger"
                          type="button"
                          (click)="removeInvestment(i, j)"
                        >
                          <i class="fa-regular fa-trash-can text-danger"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="text-end">
                Total BCBA:
                {{ getTotalByMarket(wallet, 'bcba') | number : '1.2-2' }}
                <br />
                Total NASDAQ:
                {{ getTotalByMarket(wallet, '') | number : '1.2-2' }}
              </div>
              <button
                class="btn btn-sm"
                type="button"
                (click)="addInvestment(i)"
              >
                Agregar Inversion
              </button>

              <button
                class="btn btn-sm text-danger"
                type="button"
                (click)="deleteWallet(i)"
              >
                Eliminar Wallet
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <div class="card shadow border-0">
        <div class="card-body">
          <div>
            <h3>
              <div class="input-group mb-3">
                <label *ngIf="!editCCL" style="margin-right: 15px">
                  Dolar CCL: {{ dolarCCL }}</label
                >
                <input
                  class="form-control form-control-sm"
                  type="number"
                  *ngIf="editCCL"
                  [(ngModel)]="dolarCCL"
                />
                <button
                  class="input-group-text btn btn-info"
                  (click)="editCCL = !editCCL"
                >
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </h3>
          </div>

          <p>
            Total Carteras BCBA:
            {{ getAllWalletsTotalByMarket(markets.BCBA) | number : '1.2-2' }}
          </p>
          <p>
            Total Carteras NASDAQ:
            {{ getAllWalletsTotalByMarket(markets.NASDAQ) | number : '1.2-2' }}
          </p>

          <p>U$D INVERTIDO: {{ TotalDolaresFechaCompra | number : '1.2-2' }}</p>
          <p>U$D ACTUAL:{{ getTotalDolares | number : '1.2-2' }}</p>


          <div class="card">
            <div class="card-body">
              <table class="table">
                <tbody>
                  <tr *ngFor="let inv of totalPorAccion() | keyvalue">
                    <td>{{ inv.key.split('_')[0] }}</td>
                    <td>
                      {{ inv.value['qty'] }}
                    </td>
                    <td class="text-end">
                      {{ inv.value['invertido'] | number : '1.2-2' }}
                    </td>
                    <td class="text-end">
                      {{ inv.value['total'] | number : '1.2-2' }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footActions">
  <a class="bg-primary" type="button" (click)="addWallet()"> Agregar Wallet </a>

  <a class="bg-success" (click)="saveWallets()">
    <i class="fa fa-save"></i>
  </a>
</div>
