<div class="container">
  <form [formGroup]="walletForm">
    <div formArrayName="wallets">
      <div
        class="card shadow border-0"
        *ngFor="let wallet of wallets.controls; let i = index"
        [formGroupName]="i"
        style="margin-bottom: 30px"
      >
        <div class="card-body">
          <div class="form-floating mb-3">
            <input
              formControlName="name"
              class="form-control"
              placeholder="name@example.com"
            />

            <label for="floatingInput">Wallet</label>
          </div>

          <table formArrayName="inversiones" class="table table-striped">
            <thead>
              <th></th>
              <th>Simbolo</th>
              <th>Mercado</th>
              <th>Qty</th>
              <th>Precio</th>
              <th>Precio Compra</th>
              <th>Valor Total</th>
              <th>%</th>
            </thead>
            <tr
              *ngFor="
                let investment of getInvestments(wallet).controls;
                let j = index
              "
              [formGroupName]="j"
              draggable="true"
              (dragstart)="onDragStart($event, i, j)"
              (drop)="onDrop($event, i, j)"
              (dragover)="allowDrop($event)"
            >
              <td>
                <i class="fa-solid fa-bars"></i>
              </td>
              <td>
                <input class="form-control" formControlName="symbol" />
              </td>
              <td>
                <select class="form-control" formControlName="market">
                  <option value="">NASDAQ</option>
                  <option value="bcba">BCBA</option>
                </select>
              </td>
              <td>
                <input
                  class="form-control text-end"
                  formControlName="qty"
                  type="number"
                />
              </td>
              <td>
                <fieldset [disabled]="true">
                  <input
                    class="form-control text-end"
                    formControlName="stockValue"
                    type="number"
                  />
                </fieldset>
              </td>
              <td>
                <input
                  class="form-control text-end"
                  formControlName="precioCompra"
                  type="number"
                />
              </td>

              <td class="text-end">
                {{ getTotalRow(investment) | number : '1.2-2' }}
              </td>

              <td class="text-end">
                <p
                  [ngClass]="{
                    'text-success': calcDifference(investment) > 0,
                    'text-danger': calcDifference(investment) < 0
                  }"
                >
                  {{ calcDifference(investment) }}
                </p>
              </td>

              <button
                class="btn btn-sm btn-outline-danger"
                type="button"
                (click)="removeInvestment(i, j)"
              >
                <i class="fa-regular fa-trash-can text-danger"></i>
              </button>
            </tr>
          </table>
          <button class="btn btn-sm" type="button" (click)="addInvestment(i)">
            Agregar Inversion
          </button>

          <button class="btn btn-sm" type="button" (click)="removeWallet(i)">
            Eliminar Wallet
          </button>
        </div>
      </div>
      <button class="btn btn-primary" type="button" (click)="addWallet()">
        Agregar Wallet
      </button>

      <button
        class="btn btn-success"
        style="margin-left: 5px"
        (click)="saveWallets()"
      >
        <i class="fa fa-save"></i>
      </button>
    </div>
  </form>
</div>
